/*h1에 색상 및 텍스트 위치 지정*/
h1{
    color:#da2ec1;
    text-align: center;
}
/*body에 색상과 이미지 높이,기본 배경색상,배경이미지,배경 위치 적용*/
body{
    color:red;
    height:50vh;
    background-color: #000;
    background-image:url('background.jpg');
    background-position: center center;
}

