/*h1에 색상 및 텍스트 위치 지정*/
/*h1{color:#O3D6C7;text-align: center;}*/
/*body에 색상과 이미지 높이,기본 배경색상,배경이미지,배경 위치 적용*//*
body{
    color:red;
    height:50vh;
    background-color: #000;
    background-image:url('background.jpg');
    background-position: center center;
}*/
body{
    background:"#f4f4f4";
    font-family:arial,sans-serif;
    line-height:1.5em;
    overflow:hidden;

}
/*html에서 id로 접근하여 스타일(단일)적용*/
#container{
    border: 1px #cccccc solid;
    padding: 0 10px 0 10px;
    /*padding: 0 10px;*/
    /*padding-top:0;
    padding-left:10px;
    padding-right:0;
    padding-bottom:10px;*/
    width:800px;
    /*height:3000px;*/
    margin: 30px auto;
    overflow:visible;
    /*overflow:scroll;*/
    overflow:hidden;
    /*overflow:auto;*/
}
/*html에서 class로 접근하여 스타일(복수)적용*/
.highlight{
    color:red;
    font-weight :bold;
    font-size:30px;
}
.left-side{
    float:left;
    width:50%;
}
.right-side{
/*    float:right;
    width:50%;*/
}